.btn {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}

.btn-lets-go{
   color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}








body{
  background-color:  black;
  }

h1{
  color:  white;
  }

h2{
  color:  white;
  }

h3{}

p{}


