.btn{
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}

.btn-lets{
   color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}








body{
  background-color: #000000;
  
  }

h1{
  
  }

h2{
  
  }

h3{
  
}

p{
  
}


