.btn{
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}

.btn{
   color: #fff;
  background-color: #ff2b2b9d;
  border-color: #f5363677;
  margin-right: 20px;
}

.btn:hover{
  background-color: #ff2b2b;
  border-color: #f53636;
}

nav{
    text-align: center;
    margin-top: -45px;
    margin-left: 0px;
}



body{
  background-color: #175db9;
  border-bottom: #f53636;
  border-top-color: #f53636;
  }

h1{
  color:#fff;
  font-size: 100px;
  text-align: center;
  margin-right: 150px;
  margin-bottom: -120px;
  }

h2{
  color: rgb(114, 114, 114);
  font-size: 100px;
  text-align: center;
  margin-bottom: -10px;
  }

h3{
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
  margin-right: -110px;
  margin-top: 0px;
}


h5{
  color: rgb(255, 255, 255);
  font-size: 80px;
  text-align: center;
  margin-right: -550px;
  margin-top: -140px;
}
